# Specifies environment-specific variables

ENVIRONMENT = "dev"
CODE_BUCKET = "my-code-bucket-dev"

LAMBDA_CREATE_SERVICE_VERSION    = "current"
LAMBDA_DESTROY_SERVICE_VERSION   = "current"
LAMBDA_CI_CHECKS_FOR_RDS_VERSION = "current"
LAMBDA_SEED_DB_VERSION           = "current"
