name: Tender Hub CI Pipeline

on:
  pull_request:
    branches: [ main ]

jobs:
  # terraform-test-and-deploy:
  #   runs-on: ubuntu-latest
  #   environment: stage
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v6

  #     - name: Configure AWS credentials
  #       uses: aws-actions/configure-aws-credentials@v6.0.0
  #       with:
  #         aws-access-key-id:
  #           ${{ secrets.AWS_ACCESS_KEY_ID }}
  #         aws-secret-access-key:
  #           ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #         aws-region:
  #           ${{ vars.AWS_REGION }}

  #     - name: Set up Terraform
  #       uses: hashicorp/setup-terraform@v3
  #       with:
  #         terraform_wrapper: false

  #     - name: Create Terraform backend and env configuration
  #       working-directory: infra
  #       run: |
  #         mkdir -p envs/stage
  #         cat > envs/stage/backend.hcl <<EOF
  #         bucket = "${{ vars.STATE_BUCKET }}"
  #         key    = "${{ vars.STATE_KEY }}"
  #         region = "${{ vars.AWS_REGION }}"
  #         EOF
  #         cat > envs/stage/terraform.tfvars <<EOF
  #         ENVIRONMENT = "stage"
  #         EOF
  #         cat > global.auto.tfvars <<EOF
  #         AWS_REGION         = "${{ vars.AWS_REGION }}"
  #         IAM_USER           = "${{ secrets.IAM_USER }}"
  #         REPO_NAME          = "${{ github.repository }}"
  #         PREFIX             = "${{ vars.PREFIX }}"
  #         CLIENT             = "${{ vars.CLIENT }}"
  #         PROJECT            = "${{ vars.PROJECT }}"
  #         BUDIBASE_IMAGE_URL = "${{ vars.BUDIBASE_IMAGE_URL }}"
  #         EOF

  #     - name: Initialize Terraform
  #       working-directory: infra
  #       run: terraform init -reconfigure -backend-config="envs/stage/backend.hcl"

  #     - name: Validate Terraform configuration
  #       working-directory: infra
  #       run: terraform validate

  #     - name: Format Terraform code
  #       working-directory: infra
  #       run: terraform fmt -check

  #     - name: Use Terraform workspace
  #       working-directory: infra
  #       run: ./switch_env.sh stage

  #     - name: Terraform plan with check for changes
  #       id: terraform-plan
  #       working-directory: infra
  #       run: |
  #         set +e
  #         terraform plan \
  #           -detailed-exitcode \
  #           -out=tfplan \
  #           -var-file="envs/stage/terraform.tfvars" \
  #           -var="BUDIBASE_TASK_COUNT=1"
  #         exit_code=$?
  #         echo "Terraform plan exit code: $exit_code"
  #         set -e
  #         if [ $exit_code -eq 2 ]; then
  #           echo "Changes detected in Terraform configuration."
  #           echo "runapply=true" >> $GITHUB_OUTPUT
  #         elif [ $exit_code -eq 1 ]; then
  #           echo "Error during Terraform plan."
  #           exit 1
  #         else
  #           echo "No changes detected. Infrastructure is up-to-date."
  #         fi

  #     - name: Terraform apply
  #       id: terraform-apply
  #       working-directory: infra
  #       if: ${{ steps.terraform-plan.outputs.runapply == 'true' }}
  #       run: |
  #         terraform apply tfplan
  #           echo "lb_url=\"$(terraform output -raw lb_url)\"" >> $GITHUB_OUTPUT

  #     - name: Clean up Terraform plan file
  #       working-directory: infra
  #       if: ${{ steps.terraform-plan.outputs.runapply == 'true' }}
  #       run: rm -f tfplan

  #     - name: Post-apply validation
  #       if: ${{ steps.terraform-plan.outputs.runapply == 'true' }}
  #       run: |
  #         echo "Running post-apply validation..."
          
  #         timeout 300s bash -s "${{ steps.terraform-apply.outputs.lb_url }}" << 'EOF'
  #           LB_URL="$1"

  #           start_time="$SECONDS"
  #           until curl -s "$LB_URL" > /dev/null; do
  #             elapsed="$(( SECONDS - start_time ))"
  #             timestamp=""
  #             if [ "$elapsed" -ge 10 ]; then
  #               timestamp=" [$(date -u --date="@$elapsed" +%Mm%Ss) elapsed]"
  #             fi
  #             echo "Waiting for load balancer to become available at $LB_URL ...$timestamp"
  #             sleep 10
  #           done
  #           echo "Load balancer available at $LB_URL"

  #           start_time="$SECONDS"
  #           until curl -s "$LB_URL" | grep -q 'Redirecting to <a href="/builder">/builder</a>'; do
  #             elapsed="$(( SECONDS - start_time ))"
  #             timestamp=""
  #             if [ "$elapsed" -ge 10 ]; then
  #               timestamp=" [$(date -u --date="@$elapsed" +%Mm%Ss) elapsed]"
  #             fi
  #             echo "Waiting for redirection to /builder at $LB_URL ...$timestamp"
  #             sleep 10
  #           done
  #           echo "Redirection to /builder confirmed at $LB_URL"

  #           start_time="$SECONDS"
  #           until curl -s "${LB_URL}builder" --compressed | grep title | grep -q Budibase; do
  #             elapsed="$(( SECONDS - start_time ))"
  #             timestamp=""
  #             if [ "$elapsed" -ge 10 ]; then
  #               timestamp=" [$(date -u --date="@$elapsed" +%Mm%Ss) elapsed]"
  #             fi
  #             echo "Waiting for Budibase builder to be available at ${LB_URL}builder ...$timestamp"
  #             sleep 10
  #           done
  #           echo "Budibase builder is available at ${LB_URL}builder"
  #         EOF

  #     - name: Terraform destroy
  #       working-directory: infra
  #       if: ${{ always() && steps.terraform-plan.outputs.runapply == 'true' }}
  #       run: terraform destroy -auto-approve -var-file="envs/stage/terraform.tfvars"

  update-manifest:
    runs-on: ubuntu-latest
    environment: stage
    # needs: terraform-test-and-deploy
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v6.0.0
        with:
          aws-access-key-id:
            ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key:
            ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region:
            ${{ vars.AWS_REGION }}

      - name: List changes
        id: list-changes
        run: |
          # get list of changed files between branch base and current commit
          CHANGES="$(git diff --name-only --pretty="" origin/main...HEAD)"

          # extract top-level directories from changed files and get unique list
          CHANGES="$(echo "$CHANGES" | grep -o '^[^/]*/') | sort -u)"
          echo "Changes detected in the following directories:\n$CHANGES"

          CHANGES_EXIST_TO_PROCESS=false

          # output key change values for use in later steps
          if echo "$CHANGES" | grep -q infra; then
            TERRAFORM_CHANGED=true
            CHANGES_EXIST_TO_PROCESS=true
            echo "Terraform changes detected."
          else
            TERRAFORM_CHANGED=false
            echo "No changes detected to Terraform."
          fi
          echo "changes_exist_to_process=$CHANGES_EXIST_TO_PROCESS" >> $GITHUB_OUTPUT
          echo "terraform_changed=$TERRAFORM_CHANGED" >> $GITHUB_OUTPUT

      - name: Fetch latest manifest ID
        id: fetch-manifest-id
        if: ${{ steps.list-changes.outputs.changes_exist_to_process == 'true' }}
        run: |
          echo "Fetching latest manifest ID from SSM parameter ${SSM_PARAM_NAME_MANIFEST_ID}..."
          MANIFEST_ID="$(aws ssm get-parameter \
            --name "${{ vars.SSM_PARAM_NAME_MANIFEST_ID }}" \
            --region "${{ vars.AWS_REGION }}" \
            --query "Parameter.Value" \
            --output text)"
          echo "Latest manifest ID: $MANIFEST_ID"

          echo "manifest_id=$MANIFEST_ID" >> $GITHUB_OUTPUT
        
      - name: Read manifest
        id: read-manifest
        if: ${{ steps.fetch-manifest-id.outcome == 'success' }}
        run: |
          SHORT_SHA="$(git rev-parse --short ${{ github.sha }})"
          MANIFEST_ID="${{ steps.fetch-manifest-id.outputs.manifest_id }}"

          echo "Fetching manifest with ID $MANIFEST_ID from S3..."
          aws s3 cp \
            --region "${{ vars.AWS_REGION }}" \
            "s3://${{ vars.MANIFEST_BUCKET }}/${MANIFEST_ID}.json" \
            manifest.json
          echo "Manifest fetched successfully."
      
      - name: Update and re-upload manifest
        id: update-manifest
        if: ${{ steps.read-manifest.outcome == 'success' }}
        run: |
          SHORT_SHA="$(git rev-parse --short ${{ github.sha }})"

          if "${{ steps.list-changes.outputs.terraform_changed }}"; then
            jq '.Latest.Terraform = "'$SHORT_SHA'"' manifest.json > manifest.json.tmp \
              && mv manifest.json.tmp manifest.json
            echo "Updated manifest with new Terraform version: $SHORT_SHA"
          fi

          echo "Uploading updated manifest with ID $SHORT_SHA to S3..."
          aws s3 cp \
            --region "${{ vars.AWS_REGION }}" \
            manifest.json \
            "s3://${{ vars.MANIFEST_BUCKET }}/${SHORT_SHA}.json"
          echo "Manifest uploaded successfully."
      
      - name: Update manifest ID tracking parameter
        if: ${{ steps.update-manifest.outcome == 'success' }}
        run: |
          SHORT_SHA="$(git rev-parse --short ${{ github.sha }})"

          echo "Updating SSM parameter ${SSM_PARAM_NAME_MANIFEST_ID} with new manifest ID $SHORT_SHA..."
          aws ssm put-parameter \
            --region "${{ vars.AWS_REGION }}" \
            --name "${{ vars.SSM_PARAM_NAME_MANIFEST_ID }}" \
            --value "$SHORT_SHA" \
            --overwrite
          echo "SSM parameter updated successfully."
